# 1. 忽略所有文件和文件夹
*

# 2. 但是！不要忽略文件夹
# (这一步非常关键：如果你忽略了文件夹，git 就根本不会进去找里面的 .py 文件)
!*/

# 3. 但是！不要忽略 .py 文件
!*.py

# 4. 再次忽略 __pycache__ 文件夹
# (因为第2步虽然放行了文件夹，但我们不想放行 __pycache__ 这种垃圾目录)
__pycache__/
[Bb]in/
[Ll]ib/
[Ii]nclude/
venv/
.venv/
.env/
config.py

test.py

# 5. (可选) 建议保留 .gitignore 本身，否则别人拉下来就没有这个规则了
